.contato {
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contato section:first-child {
  justify-self: flex-end;
}

.contato section:last-child {
  justify-self: flex-start;
}

.contato .button {
  margin-top: 40px;
}
