.contato {
    padding: 50px;
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.contato .imagem {
    display: grid;
    grid-column: 1 / 8;
}

.contato .texto {
    display: grid;
    grid-column: 8 / 12;
    margin-left: 50px;
}

.contato .texto h2 {
    font-size: 2.1875em;
    font-family: 'Abril Bold';
    font-weight: bold;
    letter-spacing: -0.7px;
    color: #43BEED;
}

.contato .texto p {
    font: Medium 16px/19px Montserrat;
    color: #707070;
}
