.contato {
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contato section:first-child {
  justify-self: flex-end;
}

.contato section:last-child {
  justify-self: flex-start;
}

.contato .button {
  margin-top: 40px;
}

@media (max-width: 700px) {
  .contato {
    padding: 50px;
    grid-template-columns: 1fr;
  }
  .contato img {
    width: 100%;
  }
  .contato section:last-child {
    display: grid;
  }
  .contato .button {
    justify-self: center;
  }
}
