.atendimento {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 100px;
  grid-column-gap: 50px;
}

.atendimento .formulario {
  display: inline-grid;
  grid-column: 1 / 6;
  grid-template-rows: auto;
}

.atendimento .mapa {
  grid-column: 6 / 12;
  grid-template-rows: auto;
}

.atendimento .mapa .section-mapa{
  height: 100%;
  margin-top: -100px;
  margin-right: -200px;
  margin-bottom: 20px;
}

.atendimento .formulario h1 {
  font: Bold 47px/52px Abril Text;
  color: #43BEED;
  padding: 20px 0;
}

.atendimento .formulario h1::before {
  content: "";
  width: 20px;
  border: 1px solid #2C4C9A;
  display: block;
  margin-bottom: 10px;
}

.atendimento .formulario h4 {
  font: Medium 20px/24px Montserrat;
  letter-spacing: 0.6px;
  color: #838383;
  padding: 10px 0;
}

.atendimento .formulario p {
  font: Medium 16px/20px Montserrat;
  letter-spacing: 0.48px;
  color: #898989;
  padding: 20px 0;
}

.atendimento .formulario input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.atendimento .formulario textarea {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.atendimento .formulario a {
  font: Bold 18px/32px Abril Text;
  letter-spacing: 0.54px;
  color: #43BEED;
  text-align: right;
}

.atendimento .mapa .informacoes p {
  font: Medium 14px/18px Montserrat;
  letter-spacing: 0.42px;
  color: #8D8D8D;
}

.atendimento .mapa .informacoes p::before {
  content: "";
  width: 20px;
  border: 1px solid #2C4C9A;
  display: block;
  margin-bottom: 10px;
}

.atendimento .mapa .informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* main {
  padding: 0 -10vw;
  }

@media (min-width: 1400px) {
  main {
    padding-right: 0 !important;
  }
} */

@media (max-width: 1400px) {
  main {
    padding: 0 0;
  }
}
