.banner {
    padding: 50px;
    height: 760px;
    background: transparent url('../../img/banner-5.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-size: cover;
    background-position: center;
}

.banner h1 {
    font: Bold 59px/61px Abril Text;
    letter-spacing: 2.1px;
    color: #43BEED;
    grid-column: 1 / 8;
    align-self: end;
    text-transform: uppercase;
}

.banner h2 {
    font: Bold 35px/35px Abril Text;
    letter-spacing: 2.1px;
    color: #2C4C9A;
    grid-column: 1 / 8;
}

