.sobre-nos {
    padding: 50px;
    height: 340px;
    -webkit-box-shadow: 0 1px 10px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0 1px 10px rgba(50, 50, 50, 0.3);
    box-shadow: 0 1px 10px rgba(50, 50, 50, 0.3);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 5vw;
    transform: translateY(-40%);
    background-color: white;
}

.sobre-nos .texto {
    display: grid;
    grid-column: 1 / 8;
}

.sobre-nos .texto button {
    background: #43BEED 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #00000029;
    border-radius: 31px;
    font: Bold 23px/44px Abril Text;
    letter-spacing: 1.38px;
    color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    padding: 3px 30px;
}

.sobre-nos .texto h3 {
    font: Bold 28px/50px Abril Text;
    letter-spacing: -0.56px;
    color: #43BEED;
}

.sobre-nos .texto p {
    font: Medium 16px/19px Montserrat;
    letter-spacing: 0;
    color: #707070;
}

.sobre-nos .imagem {
    grid-column: 8 / 12;
    justify-self: center;
    align-self: center;
}
